<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>locations</key>
	<array>
		<dict>
			<key>type</key>
			<string>ClassRoom</string>
			<key>id</key>
			<dict>
				<key>code</key>
				<string>l1</string>
				<key>buildingLevel</key>
				<integer>1</integer>
				<key>buildingCode</key>
				<string>b1</string>
			</dict>
			<key>name</key>
			<string>Location 1</string>
		</dict>
	</array>
</dict>
</plist>
