<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buildings</key>
	<array>
		<dict>
			<key>code</key>
			<string>sa</string>
			<key>name</key>
			<string>Santiago</string>
			<key>numberOfLevels</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>code</key>
			<string>bb</string>
			<key>name</key>
			<string>Bloco B</string>
			<key>numberOfLevels</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>code</key>
			<string>ba</string>
			<key>name</key>
			<string>Bloco A</string>
			<key>numberOfLevels</key>
			<integer>6</integer>
		</dict>
	</array>
	<key>locations</key>
	<array>
		<dict>
			<key>id</key>
			<dict>
				<key>buildingCode</key>
				<string>sa</string>
				<key>buildingLevel</key>
				<integer>0</integer>
				<key>code</key>
				<string>sa0s1</string>
			</dict>
			<key>id.buildingCode</key>
			<string>sa</string>
			<key>id.buildingLevel</key>
			<string>0</string>
			<key>id.code</key>
			<string>sa0s1</string>
			<key>name</key>
			<string>Biblioteca</string>
			<key>type</key>
			<string>Service</string>
		</dict>
		<dict>
			<key>id</key>
			<dict>
				<key>buildingCode</key>
				<string>sa</string>
				<key>buildingLevel</key>
				<integer>0</integer>
				<key>code</key>
				<string>sa0s2</string>
			</dict>
			<key>id.buildingCode</key>
			<string>sa</string>
			<key>id.buildingLevel</key>
			<string>0</string>
			<key>id.code</key>
			<string>sa0s2</string>
			<key>name</key>
			<string>Secretaria</string>
			<key>type</key>
			<string>Service</string>
		</dict>
		<dict>
			<key>id</key>
			<dict>
				<key>buildingCode</key>
				<string>sa</string>
				<key>buildingLevel</key>
				<integer>0</integer>
				<key>code</key>
				<string>sa0s3</string>
			</dict>
			<key>id.buildingCode</key>
			<string>sa</string>
			<key>id.buildingLevel</key>
			<string>0</string>
			<key>id.code</key>
			<string>sa0s3</string>
			<key>name</key>
			<string>Sala de Estudos</string>
			<key>type</key>
			<string>Service</string>
		</dict>
		<dict>
			<key>id</key>
			<dict>
				<key>buildingCode</key>
				<string>sa</string>
				<key>buildingLevel</key>
				<integer>0</integer>
				<key>code</key>
				<string>sa0a1</string>
			</dict>
			<key>id.buildingCode</key>
			<string>sa</string>
			<key>id.buildingLevel</key>
			<string>0</string>
			<key>id.code</key>
			<string>sa0a1</string>
			<key>name</key>
			<string>Entrada</string>
			<key>type</key>
			<string>Access</string>
		</dict>
		<dict>
			<key>id</key>
			<dict>
				<key>buildingCode</key>
				<string>sa</string>
				<key>buildingLevel</key>
				<integer>0</integer>
				<key>code</key>
				<string>sa0a2</string>
			</dict>
			<key>id.buildingCode</key>
			<string>sa</string>
			<key>id.buildingLevel</key>
			<string>0</string>
			<key>id.code</key>
			<string>sa0a2</string>
			<key>name</key>
			<string>Escada</string>
			<key>type</key>
			<string>Access</string>
		</dict>
		<dict>
			<key>id</key>
			<dict>
				<key>buildingCode</key>
				<string>sa</string>
				<key>buildingLevel</key>
				<integer>0</integer>
				<key>code</key>
				<string>sa0a3</string>
			</dict>
			<key>id.buildingCode</key>
			<string>sa</string>
			<key>id.buildingLevel</key>
			<string>0</string>
			<key>id.code</key>
			<string>sa0a3</string>
			<key>name</key>
			<string>Elevador</string>
			<key>type</key>
			<string>Access</string>
		</dict>
		<dict>
			<key>id</key>
			<dict>
				<key>buildingCode</key>
				<string>sa</string>
				<key>buildingLevel</key>
				<integer>0</integer>
				<key>code</key>
				<string>sa0a4</string>
			</dict>
			<key>id.buildingCode</key>
			<string>sa</string>
			<key>id.buildingLevel</key>
			<string>0</string>
			<key>id.code</key>
			<string>sa0a4</string>
			<key>name</key>
			<string>Escada</string>
			<key>type</key>
			<string>Access</string>
		</dict>
		<dict>
			<key>id</key>
			<dict>
				<key>buildingCode</key>
				<string>sa</string>
				<key>buildingLevel</key>
				<integer>0</integer>
				<key>code</key>
				<string>sa0a5</string>
			</dict>
			<key>id.buildingCode</key>
			<string>sa</string>
			<key>id.buildingLevel</key>
			<string>0</string>
			<key>id.code</key>
			<string>sa0a5</string>
			<key>name</key>
			<string>Elevador</string>
			<key>type</key>
			<string>Access</string>
		</dict>
		<dict>
			<key>id</key>
			<dict>
				<key>buildingCode</key>
				<string>sa</string>
				<key>buildingLevel</key>
				<integer>0</integer>
				<key>code</key>
				<string>sa0i1</string>
			</dict>
			<key>id.buildingCode</key>
			<string>sa</string>
			<key>id.buildingLevel</key>
			<string>0</string>
			<key>id.code</key>
			<string>sa0i1</string>
			<key>name</key>
			<string></string>
			<key>type</key>
			<string>Invisible</string>
		</dict>
		<dict>
			<key>id</key>
			<dict>
				<key>buildingCode</key>
				<string>sa</string>
				<key>buildingLevel</key>
				<integer>0</integer>
				<key>code</key>
				<string>sa0i2</string>
			</dict>
			<key>id.buildingCode</key>
			<string>sa</string>
			<key>id.buildingLevel</key>
			<string>0</string>
			<key>id.code</key>
			<string>sa0i2</string>
			<key>name</key>
			<string></string>
			<key>type</key>
			<string>Invisible</string>
		</dict>
		<dict>
			<key>id</key>
			<dict>
				<key>buildingCode</key>
				<string>sa</string>
				<key>buildingLevel</key>
				<integer>0</integer>
				<key>code</key>
				<string>sa0i3</string>
			</dict>
			<key>id.buildingCode</key>
			<string>sa</string>
			<key>id.buildingLevel</key>
			<string>0</string>
			<key>id.code</key>
			<string>sa0i3</string>
			<key>name</key>
			<string></string>
			<key>type</key>
			<string>Invisible</string>
		</dict>
		<dict>
			<key>id</key>
			<dict>
				<key>buildingCode</key>
				<string>sa</string>
				<key>buildingLevel</key>
				<integer>0</integer>
				<key>code</key>
				<string>sa0i4</string>
			</dict>
			<key>id.buildingCode</key>
			<string>sa</string>
			<key>id.buildingLevel</key>
			<string>0</string>
			<key>id.code</key>
			<string>sa0i4</string>
			<key>name</key>
			<string></string>
			<key>type</key>
			<string>Invisible</string>
		</dict>
		<dict>
			<key>id</key>
			<dict>
				<key>buildingCode</key>
				<string>bb</string>
				<key>buildingLevel</key>
				<integer>0</integer>
				<key>code</key>
				<string>bb1</string>
			</dict>
			<key>id.buildingCode</key>
			<string>bb</string>
			<key>id.buildingLevel</key>
			<string>0</string>
			<key>id.code</key>
			<string>bb1</string>
			<key>name</key>
			<string>iCenter</string>
			<key>type</key>
			<string>Service</string>
		</dict>
	</array>
	<key>routes</key>
	<array>
		<dict>
			<key>from</key>
			<string>sa0a1</string>
			<key>from.id.code</key>
			<string>sa0a1</string>
			<key>to</key>
			<string>sa0i1</string>
			<key>to.id.code</key>
			<string>sa0i1</string>
		</dict>
		<dict>
			<key>from</key>
			<string>sa0i1</string>
			<key>from.id.code</key>
			<string>sa0i1</string>
			<key>to</key>
			<string>sa0s1</string>
			<key>to.id.code</key>
			<string>sa0s1</string>
		</dict>
		<dict>
			<key>from</key>
			<string>sa0i1</string>
			<key>from.id.code</key>
			<string>sa0i1</string>
			<key>to</key>
			<string>sa0s3</string>
			<key>to.id.code</key>
			<string>sa0s3</string>
		</dict>
		<dict>
			<key>from</key>
			<string>sa0i1</string>
			<key>from.id.code</key>
			<string>sa0i1</string>
			<key>to</key>
			<string>sa0i2</string>
			<key>to.id.code</key>
			<string>sa0i2</string>
		</dict>
		<dict>
			<key>from</key>
			<string>sa0i2</string>
			<key>from.id.code</key>
			<string>sa0i2</string>
			<key>to</key>
			<string>sa0s3</string>
			<key>to.id.code</key>
			<string>sa0s3</string>
		</dict>
		<dict>
			<key>from</key>
			<string>sa0i2</string>
			<key>from.id.code</key>
			<string>sa0i2</string>
			<key>to</key>
			<string>sa0a4</string>
			<key>to.id.code</key>
			<string>sa0a4</string>
		</dict>
		<dict>
			<key>from</key>
			<string>sa0i2</string>
			<key>from.id.code</key>
			<string>sa0i2</string>
			<key>to</key>
			<string>sa0a5</string>
			<key>to.id.code</key>
			<string>sa0a5</string>
		</dict>
		<dict>
			<key>from</key>
			<string>sa0i2</string>
			<key>from.id.code</key>
			<string>sa0i2</string>
			<key>to</key>
			<string>sa0i3</string>
			<key>to.id.code</key>
			<string>sa0i3</string>
		</dict>
		<dict>
			<key>from</key>
			<string>sa0i3</string>
			<key>from.id.code</key>
			<string>sa0i3</string>
			<key>to</key>
			<string>sa0a4</string>
			<key>to.id.code</key>
			<string>sa0a4</string>
		</dict>
		<dict>
			<key>from</key>
			<string>sa0i3</string>
			<key>from.id.code</key>
			<string>sa0i3</string>
			<key>to</key>
			<string>sa0a5</string>
			<key>to.id.code</key>
			<string>sa0a5</string>
		</dict>
		<dict>
			<key>from</key>
			<string>sa0i3</string>
			<key>from.id.code</key>
			<string>sa0i3</string>
			<key>to</key>
			<string>sa0s2</string>
			<key>to.id.code</key>
			<string>sa0s2</string>
		</dict>
		<dict>
			<key>from</key>
			<string>sa0i3</string>
			<key>from.id.code</key>
			<string>sa0i3</string>
			<key>to</key>
			<string>sa0i4</string>
			<key>to.id.code</key>
			<string>sa0i4</string>
		</dict>
		<dict>
			<key>from</key>
			<string>sa0i4</string>
			<key>from.id.code</key>
			<string>sa0i4</string>
			<key>to</key>
			<string>sa0s1</string>
			<key>to.id.code</key>
			<string>sa0s1</string>
		</dict>
		<dict>
			<key>from</key>
			<string>sa0i4</string>
			<key>from.id.code</key>
			<string>sa0i4</string>
			<key>to</key>
			<string>sa0a2</string>
			<key>to.id.code</key>
			<string>sa0a2</string>
		</dict>
		<dict>
			<key>from</key>
			<string>sa0i4</string>
			<key>from.id.code</key>
			<string>sa0i4</string>
			<key>to</key>
			<string>sa0a3</string>
			<key>to.id.code</key>
			<string>sa0a3</string>
		</dict>
	</array>
</dict>
</plist>
